<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--nNhgjE3V--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/fsxx2g7c5d0uhbl8hp6a.jpg" alt="" height="200px">
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi itaque vitae accusamus alias fuga asperiores eum, eligendi sapiente, quas quisquam hic iusto totam in corporis sint! Accusamus corrupti quaerat veritatis.</a></p>
  </div>

</div>
