<div class="container__small-card">

  <div class="container__small-card-content">

    <div class="small-card__photo">
      <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--nNhgjE3V--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/fsxx2g7c5d0uhbl8hp6a.jpg" alt="">
    </div>

    <div class="small-card__title">
      <h1><a href="#">Resumo de mudanças no Angular</a></h1>
    </div>

  </div>

  <div class="container__small-card-separator">
    <hr/>
  </div>

</div>

